<%- include ("./partials/_header") %>

<p class="subtitle3">Ajustes</p>

<div class="container">

    <div class="row justify-content-around text-center">
        <div class="col-sm-10 col-md-5  p-0">
            <a href="/agregarProveedor/" class="myButton">Agregar Proveedor</a>
        </div>
        <div class="col-sm-10 col-md-5 p-0">
            <a href="/agregarMaterial/" class="myButton">Agregar Material</a>
        </div>
    </div>
    <div class="row justify-content-around text-center">
        <div class="col-sm-10 col-md-5  p-0">
            <a href="/agregarDefecto/" class="myButton">Agregar Defecto</a>
        </div>
        <div class="col-sm-10 col-md-5 p-0">
            <a href="/agregarDefectoOperacion/" class="myButton">Agregar Defecto a Operación</a>
        </div>
    </div>
    <div class="row justify-content-around text-center">
        <div class="col-sm-10 col-md-5  p-0">
            <a href="/agregarPieza/" class="myButton">Agregar Pieza</a>
        </div>
        <div class="col-sm-10 col-md-5 p-0">
            <a href="/agregarPiezaModelo/" class="myButton">Agregar Pieza a Modelo</a>
        </div>
    </div>
    <div class="row justify-content-around text-center pb-5">
        <div class="col-sm-10 col-md-5 p-0">
            <a href="/agregarModelo/" class="myButton">Agregar Modelo</a>
        </div>
        <div class="col-sm-10 col-md-5  p-0">
            <a class="myButton btn-red" href="/super">Regresar</a>
        </div>
    </div>
</div>

<%- include ("./partials/_footer") %>