<%- include ( "./partials/_header") %>
    <section>
        <div class="container">
            <div class="row">
                <div class="col mb-2 mt-4 border-light ">
                    <div class="card rounded-0 border-0 mt-2">
                        <!-- <h3 class="card-title pl-1" style="background-color: gray; color: white;">Inspección Final</h3> -->
                        <h3 class="subtitle3">Reporte</h3>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <input type="radio" id="semanal" name="tipo" value="Semanal" checked>
                            <label>Semanal</label>
                        </div>
                        <div class="col-3">
                            <input type="radio" id="personalizado" name="tipo" value="Personalizado">
                            <label>Personalizado</label>
                        </div>
                    </div>
                    <div id="fechaTabla">
                        <div class="row d-flex justify-content-center" id="fechaT">
                            <div class="col" id="fechaTipo">
                                <label style="text-align: center;" for="cantidad">Fecha:</label>
                                <input class="form-control" type="week" id="fechaInicio" style="width: min-content;">
                            </div>


                        </div>
                    </div>
                    <br>
                </div>
            </div>
    </section>

    <section>
        <div class="container" id="reportes">

        </div>
    </section>
    <br>
    <br>

    <script>
        var fechaInicio
        var fechaFin
        var tipo = document.querySelector('input[name="tipo"]:checked').value;


        Date.prototype.getWeek = function() {
            var target = new Date(this.valueOf());
            var dayNr = (this.getDay() + 6) % 7;
            target.setDate(target.getDate() - dayNr + 3);
            var firstThursday = target.valueOf();
            target.setMonth(0, 1);
            if (target.getDay() != 4) {
                target.setMonth(0, 1 + ((4 - target.getDay()) + 7) % 7);
            }
            return 1 + Math.ceil((firstThursday - target) / 604800000);
        }

        function getDateRangeOfWeek(weekNo, year) {
            var d1 = new Date(year, 12, 0);
            console.log(d1)
            numOfdaysPastSinceLastMonday = eval(d1.getDay() - 1);
            d1.setDate(d1.getDate() - numOfdaysPastSinceLastMonday);
            var weekNoToday = d1.getWeek();
            var weeksInTheFuture = eval(weekNo - weekNoToday);
            d1.setDate(d1.getDate() + eval(7 * weeksInTheFuture));
            fechaInicio = d1.getFullYear() + "-" + (("0" + (d1.getMonth() + 1)).slice(-2)) + "-" + ("0" + d1.getDate()).slice(-2);
            d1.setDate(d1.getDate() + 6);
            fechaFin = d1.getFullYear() + "-" + (("0" + (d1.getMonth() + 1)).slice(-2)) + "-" + ("0" + d1.getDate()).slice(-2);
            return fechaInicio + " to " + fechaFin;
        };

        $(document).on('change', 'input[name="tipo"]', function() {
            if (document.contains(document.getElementById("tablaReporte"))) {
                document.getElementById("tablaReporte").remove();
            }

            if (document.contains(document.getElementById("fechaT"))) {
                document.getElementById("fechaT").remove();
            }
            append = document.getElementById("fechaTabla")
            tipo = document.querySelector('input[name="tipo"]:checked').value;
            console.log(tipo)
            if (tipo == "Semanal")
                var html2 = '<div class="row d-flex justify-content-center" id="fechaT"><div class="col"><label style="text-align: center;" for="cantidad">Fecha:</label><input class="form-control" type="week" id="fechaInicio" style="width: min-content;"></div></div>'
            else
                var html2 = '<div class="row d-flex justify-content-center" id="fechaT"><div class="col" id="fechaTipo"><label style="text-align: center;" for="cantidad">Fecha de Inicio:</label><input class="form-control" type="date" id="fechaInicio" style="width: min-content;"></div><div class="col"><label for="unidad">Fecha de Fin:</label><input class="form-control" type="date" id="fechaFin" style="width: min-content;"></div></div>'

            append.innerHTML += html2
            reporte = document.getElementById("fechaInicio")
        });

        $(document).on('change', '#fechaInicio, #fechaFin', function() {
            var fechaElegida = document.getElementById("fechaInicio").value
            if (tipo == "Semanal") {
                var año = fechaElegida.substr(0, fechaElegida.indexOf('-'));
                var semana = fechaElegida.substr(fechaElegida.indexOf('W') + 1, fechaElegida.length - 1);
                getDateRangeOfWeek(semana, año)
            } else {
                fechaInicio = document.getElementById('fechaInicio').value
                fechaFin = document.getElementById('fechaFin').value
            }


            let url = `/reporteOperaciones/${fechaInicio}/${fechaFin}/<%=usu[0].planta%>/`;

            let settings = {
                method: 'GET'
            };
            fetch(url, settings)
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error(response.statusText);
                })
                .then(responseJSON => {
                    var operaciones = responseJSON.operaciones
                    var reportes = responseJSON.reportes
                    var defectos = responseJSON.groupedDef
                    var rechazados = []
                    var aceptados = []
                    append = document.getElementById("reportes")
                    append.innerHTML = "";

                    if (operaciones.length > 0) {
                        for (var i = 0; i < operaciones.length; i++) {
                            var cantA = 0
                            var cantR = 0
                            var html = '<h3 class="card-title pl-1" style="background-color: gray; color: white;">Defectos en Proceso - ' + operaciones[i] + '</h3><div class="row"><div class="col-lg-6 my-3 pb-0"><div class="table-responsive-md"><table class="table"><thead><th style="border: 0px;"><th scope="col" style="border: 0px;"></th><th scope="col"  style="background: orangered;border: 1px black;">Aprobado</th><th scope="col"  style="background: orangered;border: 1px black;">Rechazado</th><th scope="col" style="background: orangered;border: 1px black;font-size: small;">Total</th></th></thead><tbody>'
                            for (var x = 0; x < reportes[operaciones[i]].length; x++) {
                                html = html + '<tr><th scope="row"><b>' + reportes[operaciones[i]][x].fecha + '</b></th><td style="border: 0px;"></td><td >' + reportes[operaciones[i]][x].inspeccion.Aceptado + '</td><td >' + reportes[operaciones[i]][x].inspeccion.Rechazado + '</td><td >' + (reportes[operaciones[i]][x].inspeccion.Aceptado + reportes[operaciones[i]][x].inspeccion.Rechazado) + '</td></tr>'
                                cantR += reportes[operaciones[i]][x].inspeccion.Rechazado
                                cantA += reportes[operaciones[i]][x].inspeccion.Aceptado
                            }
                            aceptados.push(cantA)
                            rechazados.push(cantR)
                            var total = aceptados[i] + rechazados[i]
                            append.innerHTML += html + '</tbody></table><br><table class="table"><thead><th>Aprobado</th><th>Rechazado</th><th>Total</th></thead><tbody><tr><td>' + aceptados[i] + ' (' + (aceptados[i] / total * 100) + '%)</td><td>' + rechazados[i] + ' (' + (aceptados[i] / total * 100) + '%)</td><td>' + total + '</td></tr></tbody></table></div></div><div class="col-lg-6"><canvas id="' + operaciones[i] + '"></canvas></div></div><br>';


                        }

                        for (var i = 0; i < operaciones.length; i++) {

                            var chart = document.getElementById(operaciones[i]).getContext('2d');
                            var chartDef = new Chart(chart, {
                                // The type of chart we want to create
                                type: 'bar',

                                // The data for our dataset
                                data: {
                                    labels: defectos[operaciones[i]][0].defectos,
                                    datasets: [{
                                        label: 'Defectos',
                                        backgroundColor: 'rgb(255, 99, 132)',
                                        borderColor: 'rgb(255, 99, 132)',
                                        data: defectos[operaciones[i]][0].cantidad,
                                    }]
                                },

                                // Configuration options go here
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                min: 0,
                                                precision: 0
                                            }
                                        }]
                                    }
                                }
                            });
                        }

                    } else {
                        alert("No existen datos en la fecha seleccionada")
                    }
                })
                .catch(err => {
                    console.log(err.message);
                });

        });
    </script>

    <script src="/js/validate.js"></script>

    <%- include ("./partials/_footer") %>