<%- include ("./partials/_header") %>

    <section>
        <div class="container">
            <div class="row">
                <div class="col mb-2 mt-4 border-light ">
                    <div class="card rounded-0 border-0 mt-2">
                        <h3 class="card-title pl-1" style="background-color: gray; color: white;">Inspección Final</h3>
                    </div>
                    <hr style="margin: 0px; background-color: black;">
                    <div class="card rounded-0 border-0">
                        <h5 class="card-text pl-1" style="font-style: italic;"><b>Resultados de Inspecciones Finales</b></h5>
                    </div>
                    <hr style="margin: 0px; background-color: black;">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-7 my-3 pb-0">
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <th style="border: 0px;">
                                    <th scope="col" style="border: 0px;"></th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-1</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-2</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-3</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-4</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-5</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="border: 0px;"><b>Total</b></th>
                                    <td style="border: 0px;"></td>
                                    <td>Dato1.0 Porcentaje</td>
                                    <td>Dato1.1 Porcentaje</td>
                                    <td>Dato1.2 Porcentaje</td>
                                    <td>Dato1.3 Porcentaje</td>
                                    <td>Dato1.4 Porcentaje</td>
                                    <td>Dato1.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row">Aprobado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border-color: black;">Dato2.0 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.1 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.2 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.3 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.4 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row" style="border: 0px;">Rechazado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border: 0px;">Dato3.0 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.1 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.2 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.3 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.4 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.5 Porcentaje</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comentarios</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-lg-5">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col mb-2 mt-4 border-light ">
                    <hr style="margin: 0px; background-color: black;">
                    <div class="card rounded-0 border-0 mb-1">
                        <h5 class="card-text pl-1" style="font-style: italic;"><b>Análisis de Pareto Semanal</b></h5>
                    </div>
                    <hr style="margin: 0px; background-color: black;">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md align-self-center">
                    <canvas id="tablaDos"></canvas>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col mb-2 mt-4 border-light ">
                    <div class="card rounded-0 border-0 mt-2">
                        <h3 class="card-title pl-1" style="background-color: gray; color: white;">Defectos en Proceso - Escuadradora</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-7 my-3 pb-0">
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <th style="border: 0px;">
                                    <th scope="col" style="border: 0px;"></th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-1</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-2</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-3</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-4</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-5</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="border: 0px;"><b>Total</b></th>
                                    <td style="border: 0px;"></td>
                                    <td>Dato1.0 Porcentaje</td>
                                    <td>Dato1.1 Porcentaje</td>
                                    <td>Dato1.2 Porcentaje</td>
                                    <td>Dato1.3 Porcentaje</td>
                                    <td>Dato1.4 Porcentaje</td>
                                    <td>Dato1.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row">Aprobado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border-color: black;">Dato2.0 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.1 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.2 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.3 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.4 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row" style="border: 0px;">Rechazado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border: 0px;">Dato3.0 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.1 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.2 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.3 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.4 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.5 Porcentaje</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comentarios</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-lg-5">
                    <canvas id=""></canvas>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col mb-2 mt-4 border-light ">
                    <div class="card rounded-0 border-0 mt-2">
                        <h3 class="card-title pl-1" style="background-color: gray; color: white;">Defectos en Proceso - Enchapadora</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-7 my-3 pb-0">
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <th style="border: 0px;">
                                    <th scope="col" style="border: 0px;"></th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-1</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-2</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-3</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-4</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-5</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="border: 0px;"><b>Total</b></th>
                                    <td style="border: 0px;"></td>
                                    <td>Dato1.0 Porcentaje</td>
                                    <td>Dato1.1 Porcentaje</td>
                                    <td>Dato1.2 Porcentaje</td>
                                    <td>Dato1.3 Porcentaje</td>
                                    <td>Dato1.4 Porcentaje</td>
                                    <td>Dato1.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row">Aprobado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border-color: black;">Dato2.0 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.1 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.2 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.3 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.4 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row" style="border: 0px;">Rechazado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border: 0px;">Dato3.0 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.1 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.2 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.3 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.4 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.5 Porcentaje</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comentarios</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-lg-5">
                    <canvas id=""></canvas>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col mb-2 mt-4 border-light ">
                    <div class="card rounded-0 border-0 mt-2">
                        <h3 class="card-title pl-1" style="background-color: gray; color: white;">Defectos en Proceso - Taladro</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-7 my-3 pb-0">
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <th style="border: 0px;">
                                    <th scope="col" style="border: 0px;"></th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-1</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-2</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-3</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-4</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-5</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="border: 0px;"><b>Total</b></th>
                                    <td style="border: 0px;"></td>
                                    <td>Dato1.0 Porcentaje</td>
                                    <td>Dato1.1 Porcentaje</td>
                                    <td>Dato1.2 Porcentaje</td>
                                    <td>Dato1.3 Porcentaje</td>
                                    <td>Dato1.4 Porcentaje</td>
                                    <td>Dato1.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row">Aprobado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border-color: black;">Dato2.0 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.1 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.2 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.3 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.4 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row" style="border: 0px;">Rechazado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border: 0px;">Dato3.0 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.1 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.2 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.3 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.4 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.5 Porcentaje</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comentarios</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-lg-5">
                    <canvas id=""></canvas>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col mb-2 mt-4 border-light ">
                    <div class="card rounded-0 border-0 mt-2">
                        <h3 class="card-title pl-1" style="background-color: gray; color: white;">Defectos en Proceso - Sacabocas</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-7 my-3 pb-0">
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <th style="border: 0px;">
                                    <th scope="col" style="border: 0px;"></th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-1</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-2</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-3</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-4</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-5</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="border: 0px;"><b>Total</b></th>
                                    <td style="border: 0px;"></td>
                                    <td>Dato1.0 Porcentaje</td>
                                    <td>Dato1.1 Porcentaje</td>
                                    <td>Dato1.2 Porcentaje</td>
                                    <td>Dato1.3 Porcentaje</td>
                                    <td>Dato1.4 Porcentaje</td>
                                    <td>Dato1.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row">Aprobado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border-color: black;">Dato2.0 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.1 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.2 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.3 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.4 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row" style="border: 0px;">Rechazado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border: 0px;">Dato3.0 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.1 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.2 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.3 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.4 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.5 Porcentaje</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comentarios</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-lg-5">
                    <canvas id=""></canvas>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col mb-2 mt-4 border-light ">
                    <div class="card rounded-0 border-0 mt-2">
                        <h3 class="card-title pl-1" style="background-color: gray; color: white;">Defectos en Proceso - Armado1</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-7 my-3 pb-0">
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <th style="border: 0px;">
                                    <th scope="col" style="border: 0px;"></th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-1</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-2</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-3</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-4</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-5</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="border: 0px;"><b>Total</b></th>
                                    <td style="border: 0px;"></td>
                                    <td>Dato1.0 Porcentaje</td>
                                    <td>Dato1.1 Porcentaje</td>
                                    <td>Dato1.2 Porcentaje</td>
                                    <td>Dato1.3 Porcentaje</td>
                                    <td>Dato1.4 Porcentaje</td>
                                    <td>Dato1.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row">Aprobado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border-color: black;">Dato2.0 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.1 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.2 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.3 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.4 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row" style="border: 0px;">Rechazado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border: 0px;">Dato3.0 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.1 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.2 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.3 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.4 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.5 Porcentaje</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comentarios</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-lg-5">
                    <canvas id=""></canvas>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col mb-2 mt-4 border-light ">
                    <div class="card rounded-0 border-0 mt-2">
                        <h3 class="card-title pl-1" style="background-color: gray; color: white;">Defectos en Proceso - Armado2</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-7 my-3 pb-0">
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <th style="border: 0px;">
                                    <th scope="col" style="border: 0px;"></th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-1</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-2</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-3</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-4</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-5</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="border: 0px;"><b>Total</b></th>
                                    <td style="border: 0px;"></td>
                                    <td>Dato1.0 Porcentaje</td>
                                    <td>Dato1.1 Porcentaje</td>
                                    <td>Dato1.2 Porcentaje</td>
                                    <td>Dato1.3 Porcentaje</td>
                                    <td>Dato1.4 Porcentaje</td>
                                    <td>Dato1.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row">Aprobado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border-color: black;">Dato2.0 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.1 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.2 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.3 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.4 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row" style="border: 0px;">Rechazado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border: 0px;">Dato3.0 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.1 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.2 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.3 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.4 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.5 Porcentaje</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comentarios</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-lg-5">
                    <canvas id=""></canvas>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col mb-2 mt-4 border-light ">
                    <div class="card rounded-0 border-0 mt-2">
                        <h3 class="card-title pl-1" style="background-color: gray; color: white;">Defectos en Proceso - Armado3</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-7 my-3 pb-0">
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <th style="border: 0px;">
                                    <th scope="col" style="border: 0px;"></th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-1</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-2</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-3</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-4</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-5</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="border: 0px;"><b>Total</b></th>
                                    <td style="border: 0px;"></td>
                                    <td>Dato1.0 Porcentaje</td>
                                    <td>Dato1.1 Porcentaje</td>
                                    <td>Dato1.2 Porcentaje</td>
                                    <td>Dato1.3 Porcentaje</td>
                                    <td>Dato1.4 Porcentaje</td>
                                    <td>Dato1.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row">Aprobado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border-color: black;">Dato2.0 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.1 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.2 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.3 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.4 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row" style="border: 0px;">Rechazado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border: 0px;">Dato3.0 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.1 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.2 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.3 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.4 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.5 Porcentaje</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comentarios</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-lg-5">
                    <canvas id=""></canvas>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col mb-2 mt-4 border-light ">
                    <div class="card rounded-0 border-0 mt-2">
                        <h3 class="card-title pl-1" style="background-color: gray; color: white;">Defectos en Proceso - Acabados</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-7 my-3 pb-0">
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <th style="border: 0px;">
                                    <th scope="col" style="border: 0px;"></th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-1</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-2</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-3</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-4</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Fecha-5</th>
                                    <th scope="col" style="background: orangered;border: 1px black;">Total</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="border: 0px;"><b>Total</b></th>
                                    <td style="border: 0px;"></td>
                                    <td>Dato1.0 Porcentaje</td>
                                    <td>Dato1.1 Porcentaje</td>
                                    <td>Dato1.2 Porcentaje</td>
                                    <td>Dato1.3 Porcentaje</td>
                                    <td>Dato1.4 Porcentaje</td>
                                    <td>Dato1.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row">Aprobado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border-color: black;">Dato2.0 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.1 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.2 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.3 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.4 Porcentaje</td>
                                    <td style="border-color: black;">Dato2.5 Porcentaje</td>

                                </tr>
                                <tr>
                                    <th scope="row" style="border: 0px;">Rechazado</th>
                                    <td style="border: 0px;"></td>
                                    <td style="border: 0px;">Dato3.0 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.1 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.2 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.3 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.4 Porcentaje</td>
                                    <td style="border: 0px;">Dato3.5 Porcentaje</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comentarios</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-lg-5">
                    <canvas id=""></canvas>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 align-self-end order-last">
                <a class="myButton btn-red btn-sm" href="/super/">Salir</a>
            </div>
        </div>
    </div>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45]
                }]
            },

            // Configuration options go here
            options: {}
        });
        var ctx = document.getElementById('tablaDos').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45]
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>

    <%- include ("./partials/_footer") %>