<%- include ("./partials/_header") %>

<div class="container">
    <div class="row justify-content-around text-center">
        <div class="col-sm-10 col-md-5 p-0">
            <p class="subtitle mb-1">Inspección en Proceso</p>
            <a href="/inspeccionProceso/" class="myButton">Inspección en Proceso</a>
            <a href="/defectosProceso/" class="myButton">Defectos en Proceso</a>
        </div>
        <div class="col-sm-10 col-md-5 p-0">
            <div class="subtitle mb-1">Producto No Conforme</div>
            <a href="/altaPNC/" class="myButton">Dar de alta</a>
            <a href="/BajaPNC/" class="myButton">Dar de baja</a>
        </div>
    </div>

    <div class="row justify-content-around text-center">
        <div class="col-sm-10 col-md-5 p-0">
            <div class="subtitle mb-1">Inspección de Recepción</div>
            <a href="/recepcion/" class="myButton">Inspección de recepción</a>
        </div>
        <div class="col-sm-10 col-md-5 p-0">
            <div class="subtitle mb-1">Inspección Final</div>
            <a href="/inspeccionFinal/" class="myButton">Crear reporte</a>
        </div>
    </div>

    <div class="row justify-content-around text-center pb-5">
        <div class="col-sm-10 col-md-5 p-0">
            <a onclick="logout()" href="./Inicio.ejs" class="myButton logout">Cerrar sesión</a>
        </div>
        <div class="col-sm-12 col-md-5">

        </div>
    </div>
</div>

<%- include ("./partials/_footer") %>
