<%- include ("./partials/_header") %>


    <div class="container">
        <div class="row justify-content-around text-center">
            <div class="col-sm-10 col-md-5 p-0">
                <p class="subtitle mb-1">Inspección en proceso</p>
    
                <!-- <div class="subtitle"> -->
                    <a href="/inspeccionProceso/" class="myButton">Inspección en proceso</a>
                <!-- </div> -->
                <!-- <div class="subtitle"> -->
                    <a href="/defectosProceso/" class="myButton">Defectos en proceso</a>
                <!-- </div> -->
            </div>
            <div class="col-sm-10 col-md-5 p-0">
                <div class="subtitle mb-1">Producto no conforme</div>
    
                <!-- <div class="subtitle"> -->
                    <a href="/altaPNC/" class="myButton">Dar de alta</a>
                <!-- </div> -->
                <!-- <div class="subtitle"> -->
                    <a href="/BajaPNC/" class="myButton">Dar de baja</a>
                <!-- </div> -->
            </div>
        </div>
        <div class="row justify-content-around text-center">
            <div class="col-sm-10 col-md-5 p-0">
                <div class="subtitle mb-1">Inspección de recepción</div>
                <!-- <div class="subtitle"> -->
                    <a href="/recepcion/" class="myButton">Inspección de recepción</a>
                <!-- </div> -->
            </div>
            <div class="col-sm-10 col-md-5 p-0">
                <div class="subtitle mb-1">Inspección final</div>
    
                <!-- <div class="subtitle"> -->
                    <a href="/inspeccionFinal/" class="myButton">Crear reporte</a>
                <!-- </div> -->
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="subtitle2" id="botonajuste">
                    <a href="/ajustes/" class="myButton3 ">Ajustes</a>
                </div>
            </div>
        </div>
        -->
        <div class="row justify-content-around text-center">
            <div class="col-sm-10 col-md-5 p-0">
                <!-- <div class="subtitle my-4"> -->
                    <a onclick="logout()" href="./Inicio.ejs" class="myButton logout">Cerrar sesión</a>
                <!-- </div> -->
            </div>
            <div class="col-sm-12 col-md-5">

            </div>
        </div>
    </div>
    <%- include ("./partials/_footer") %>