<%- include ("./partials/_header") %>

    <div class="subtitle3">Reporte de Inspección en Proceso</div>

    <div class="container">
        <div id="agregar-error"></div>
        <form>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="/inspeccionProceso">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/escuadradora/">Escuadradora</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/enchapadora/">Enchapadora</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/taladro/">Taladro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/sacabocados/">Sacabocados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/armado1/">Armado1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/armado2/">Armado2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/armado3/">Armado3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/acabados/">Acabados</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <input id="folio" class="form-control" type="text" name="folio" placeholder="Folio" required />
                        </div>
                        <div class="col-md-4" id="inspproceso">
                            <input id="fecha" class="form-control" type="date" name="fecha" placeholder="Fecha" required/>
                        </div>
                        <div class="col-md-4">
                            <select id="hora" class="form-control" name="hora" style="height: 42px;" required>
                                <option value="" disabled selected hidden>Hora</option>
                                <option value="8:00 AM">8:00 AM</option>
                                <option value="10:00 AM">10:00 AM</option>
                                <option value="12:00 AM">12:00 AM</option>
                                <option value="2:00 PM">2:00 PM</option>
                                <option value="4:00 PM">4:00 PM</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pb-3">
                <div class="col p-0 px-3">
                    <a class="myButton btn-red" href="/inicio">Salir</a>
                </div>
                <div class="col p-0 px-3">
                    <button id="btnSubmit" class="myButton" type="submit">Iniciar Reporte</button>
                </div>

            </div>
        </form>

    </div>

</body>
<script src="../../js/home.js"></script>
<script src="../../js/inspeccionProceso.js"></script>

</html>