<%- include ("./partials/_header") %>

<p class="subtitle3">Reporte de Inspección Final</p>

<!-- FORMULARIO-->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col px-3" style="max-width: 750px;">
            <div class="card mb-5">
                <div class="card-header">
                    <form action="/insFinal/" method="post">

                        <div class="form-group row justify-content-between">
                            <div class="col-sm-5">
                                <label for="folio">Folio:</label>
                                <input id="folio" class="form-control" type="text" name="folio" placeholder="Folio">
                            </div>
                            <div class="col-sm-5" style="max-width: 200px;">
                                <label for="fechafinal">Fecha:</label>
                                <input id="fechafinal" class="form-control" type="date" name="fecha"
                                    placeholder="Fecha">
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="nombreproducto">Nombre del producto: </label>
                            <select id="nombreproducto" class="form-control" name="producto" placeholder="Producto">
                                <option value="" disabled selected hidden>Seleccionar</option>
                                <% for (var i =0; i < prod.length; i++)  {     %>
                                <option value="<%= prod[i].nombre %>"> <%= prod[i].nombre %> </option>
                                <%  }  %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="lotefinal">Tamaño de lote:</label>
                            <input id="lotefinal" class="form-control" type="number" name="lote" placeholder="Tamaño"
                                style="width: fit-content;">
                        </div>
                        <hr class="my-0">

                        <a class="collapseHeader" data-toggle="collapse" href="#collapseProductos" role="button"
                            aria-expanded="true" aria-controls="collapseProductos">
                            <nav class="navbar navbar-light bg-light px-1 py-4">
                                <p class="mb-0 h5">1.- Producto </p><i class="fas fa-angle-down rotate-icon"></i>
                            </nav>
                        </a>

                        <div class="collapse" id="collapseProductos">

                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Defectos</th>
                                        <th class="text-center" scope="col">Inspección</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Dimensiones Finales</td>
                                        <td class="flex">
                                            <select onchange='sum()' class="form-control form-control-sm m-0 m-0"
                                                name="dimensiones_Finales" placeholder="Inspeccion"
                                                style="width: fit-content; " tagname="Inspeccion">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Limpieza del Producto</td>
                                        <td class="flex">
                                            <select onchange='sum()' class="form-control form-control-sm m-0"
                                                name="limpieza" placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Función de puertas y cajones</td>
                                        <td class="flex">
                                            <select onchange='sum()' class="form-control form-control-sm m-0"
                                                name="funcion" placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Color de Melamina</td>
                                        <td class="flex">
                                            <select onchange='sum()' class="form-control form-control-sm m-0"
                                                name="color_Melamina" placeholder="Inspeccion"
                                                style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Orientación de Vetas</td>
                                        <td class="flex">
                                            <select onchange='sum()' class="form-control form-control-sm m-0"
                                                name="orientacion" placeholder="Inspeccion"
                                                style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Color de Cintilla</td>
                                        <td class="flex">
                                            <select onchange='sum()' class="form-control form-control-sm m-0"
                                                name="color_Cintilla" placeholder="Inspeccion"
                                                style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Espesor de Cintilla</td>
                                        <td class="flex">
                                            <select onchange='sum()' class="form-control form-control-sm m-0"
                                                name="espesor" placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Colocación de Cintilla</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="colocacion"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Descuadre</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="descuadre"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Marcas de Pegamento</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="marcas"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Despostilles</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="despostilles"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Rayaduras</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="rayaduras"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Retoques</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="retoques"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Pruebas de Resistencia</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="pruebas_Resistencia"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Herrajes instalados correctos</td>
                                        <!-- (bumpers, bisagras, manija, push, y colgadores) -->
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="herrajes_instalados"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Etiquetas de producto</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="etiquetas_producto"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Prueba de colgado*</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="prueba"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Resane de perforación interna*</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="resane"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Cubierta correcta*</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="cubierta"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                        <hr class="my-0">

                        <a class="collapseHeader" data-toggle="collapse" href="#collapseEmpaque" role="button"
                            aria-expanded="true" aria-controls="collapseEmpaque">
                            <nav class="navbar navbar-light bg-light px-1 py-4">
                                <p class="mb-0 h5">2.- Empaque </p><i class="fas fa-angle-down rotate-icon"></i>
                            </nav>
                        </a>

                        <div class="collapse" id="collapseEmpaque">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>

                                        <th scope="col">Defectos</th>
                                        <th scope="col">Inspección</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Caja</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="caja"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Etiquetas de caja</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="etiquetas_caja"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Herrajes en bolsa y componentes sueltos correctos</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="herrajes_bolsa"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Manual de instrucciones y garantía</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="manual_instrucciones"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Color de Marmol*</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="color_Marmol"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Ovalin*</td>
                                        <td class="flex"><select onchange='sum()'
                                                class="form-control form-control-sm m-0" name="ovalin"
                                                placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                            </select></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <hr class="my-0">

                        <div class="form-row pt-4 align-items-center justify-content-around">
                            <div class="col-xs-6 p-0 mx-2 align-self-center mb-2">
                                <div class="row align-items-center">
                                    <p class="m-0 ">Total: </p>
                                    <textarea id="menor" class="form-control defectos m-0 mx-1" type="number"
                                        name="menor" readonly></textarea>
                                    <textarea id="mayor" class="form-control defectos m-0 mx-1" type="number"
                                        name="mayor" readonly></textarea>
                                </div>
                            </div>
                            <div class="col-xs-6 mx-2 align-self-center p-0 mb-2">
                                <textarea class="form-control estado align-self-center" id="res" type="text"
                                    name="estatus" placeholder="Aceptado" readonly></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label for="resumenfinal">Resumen:</label>
                                <textarea id="resumenfinal" class="form-control resumen mb-4" name="resumen" cols="80"
                                    rows="5" placeholder="Sus comentarios aquí"></textarea>
                            </div>
                        </div>

                        <div class="row justify-content-center pb-3 pt-2">
                            <div class="col p-0 px-3">
                                <a class="myButton btn-red" href="/inicio">Salir</a>
                            </div>
                            <div class="col p-0 px-3">
                                <button class="myButton" type="submit">Enviar</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function sum() {
        var count = 0;
        var count2 = 0;
        var x = document.getElementsByClassName("form-control");

        for (var i = 0; i < x.length; i++) {
            if (x[i].value == "Menor") {
                count++;

            }
            if (x[i].value == "Mayor") {
                count2++;

            }
        }

        $("#menor").text(count);
        $("#mayor").text(count2);

        if (count > 3 || count2 > 0) {
            $('#res').addClass('rechazado');
            $('#res').text("Rechazado");
        } else {
            $('#res').removeClass('rechazado');
            $('#res').text("Aceptado");
        }
    }

    function init() {
        sum();

        // listener para cuando se expande una sección del reporte
        $(".collapseHeader").on('click', function () {
            $(this).find("i.rotate-icon").toggleClass('fa-rotate-180');
        });

    }

    init();
</script>

<%- include ("./partials/_footer") %>